:root[data-theme='light'] {
  --white: #fff;
  --black: #000;
  --deepDark: #181725;
  --bg: #e5e5e5;
}

:root[data-theme='dark'] {
  --white: #000;
  --black: #fff;
  --deepDark: #f1f1f1;
  --bg: #1c1c1c;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: var(--black);
  background-color: var(--bg);
}

.svg {
  path {
    fill: var(--black);
  }
  &-stroke {
    path {
      stroke: var(--black);
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.mySwiper {
  .swiper-pagination-bullet {
    background: var(--black);
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.back {
  display: flex;
  align-items: center;
  &__icon {
    margin-right: 15px;
    path {
      stroke: var(--black);
    }
  }
}

@import './reset.scss';
@import './typography.scss';
@import './flexbox.scss';
@import './spacing.scss';
