.slide {
  background: #7a293a;
  border-radius: 15px;
  min-height: 164px;
  width: 100%;
  position: relative;
  overflow: hidden;
  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.content {
  padding: 11px 15px;
  position: relative;
  z-index: 3;
  &__desc {
    max-width: 215px;
  }
}

.swiper {
  color: #000;
}
